<h3>You have {{vm.tests.length}} tests scheduleds</h3>
<table ng-if="vm.tests.length > 0 && !vm.loading" class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Schedule type</th>
        <th>Last test status</th>
        <th>Last execution on</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="" ng-repeat="element in vm.tests">
        <td>{{::element.testName}}</td>
        <td>{{::vm.getPeriodText(element.schedule.period)}}</td>
        <td>
            <span ng-if="element.schedule.resultId">
                {{::element.testResult ? "success" : "fail" }}
            </span>
            <span ng-if="!element.schedule.resultId">-</span>
        </td>
        <td colspan="2" ng-if="!element.schedule.resultId">
            -
        </td>
        <td ng-if="element.schedule.resultId">
            {{::element.schedule.executionDate}}
        </td>
        <td ng-if="element.schedule.resultId">
            <a class="btn btn-info" ng-if="element.schedule.resultId"
                   ng-href="{{::main.user}}/schedules/{{::element.schedule._id.$oid}}/results">Execute detail</a>
        </td>
        <td>
            <input type="button" class="btn alert-info" value="Archive" ng-click="vm.archiveItem(element.schedule._id.$oid)"></input>
        </td>
    </tr>
    </tbody>
</table>
<div ng-if="vm.tests.length === 0 && !vm.loading">There are no active schedules.</div>
