<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <base href="/">
  <title>Youcantest!</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

</head>
<body ng-app="youcantest">
<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Y</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="home-box" ng-controller="HomeWithoutUserCtrl as vm">
    <h1>Welcome to Youcantest!</h1>
    <div class="form-group context-input home-input-box">
        <label class="control-label" for="input_context">Text your name to navigate to your test suite</label>
          <div class="input-text">
            <input class="form-control" placeholder="your name here" ng-keyup="$event.keyCode == 13 ? vm.go() : null" type="text" ng-model="vm.user">
            <input type="button" class="btn btn-primary" value="go!" ng-click="vm.go()"></input>
          </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <p><span class="glyphicon glyphicon-heart"></span> youcantest! @ 2015</p>
  </div>
</div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-54345193-1');
    ga('pageview');
</script>
<%= javascript_include_tag 'application' %>
</body>
</html>
