<div>
    <h3>Create New Test</h3>
</div>

<div style="width:400px;">
    <div class="form-group name-input">
        <label class="control-label" for="input_name">Name</label>
        <input id="input_name" class="form-control" type="text"
               ng-model="vm.test.name"/>
    </div>
    <div class="form-group description-input">
        <label for="input_description" class="control-label">Description</label>
        <textarea id="input_description" class="form-control" ng-model="vm.test.description" maxlength="500" rows="3"></textarea>
    </div>

    <div class="form-group context-input">
        <label class="control-label" for="input_context">Context</label>
        <input id="input_context" class="form-control" placeholder="example : www.google.com/page/1" type="text"
               ng-model="vm.test.context"/>
    </div>
    <div>
        <div class="new-action">
            <button type="button" class="btn btn-primary" ng-click="vm.addAction()">New Action</button>
        </div>
        <div ng-repeat="action in vm.actions">
            <action-selector action="action" index="$index" on-remove="vm.removeAction(index)"></action-selector>
        </div>
        <br/><br/>

        <div class="new-assert">
            <button type="button" class="btn btn-primary" ng-click="vm.addAssert()">New Assert</button>
        </div>
        <div ng-repeat="assert in vm.asserts">
            <assert-selector assert="assert" index="$index" on-remove="vm.removeAssert(index)"></assert-selector>
        </div>
    </div>

    <br/><br/>

    <div>
        <button ng-click="vm.save()" class="btn btn-success">Create</button>
        <button ng-click="vm.cancel()" class="btn btn-warning">Cancel</button>
    </div>
</div>
