<div class="row">
    <div class="col-md-8" data-id="{{ ::vm.element._id }}">
        <div>
            <label>test name:</label> {{::vm.element.name }}
        </div>
        <div>
            <label>description:</label>
            {{::vm.element.description}}
        </div>
        <div>
            <label>context:</label> {{::vm.element.context.url}}
        </div>
        <div>
            <label>actions:</label> {{::vm.element.actions.length}}
            <label>asserts:</label> {{::vm.element.asserts.length}}
        </div>
    </div>
    <div clas="col-md-2">
        <a ng-href="{{$parent.main.user}}/tests/{{::vm.element._id.$oid}}/detail">see test details</a>
        <button class="btn btn-primary" ng-click="vm.scheduleTest()">Schedule Test</button>
        <button class="btn btn-danger" ng-click="vm.remove()">Remove</button>
    </div>
</div>