<div class="row">
    <div class="col-md-8" data-id="{{ ::vm.element._id }}">
        <div>
            <label>context:</label> {{::vm.element.context.url}}
        </div>
        <div>
            <label>actions:</label> {{::vm.element.actions.length}}
            <label>asserts:</label> {{::vm.element.asserts.length}}
        </div>
    </div>
    <div clas="col-md-2">
        <button class="btn btn-primary" ng-click="vm.publish()">Publish!</button>
        <button class="btn btn-danger" ng-click="vm.remove()">Remove</button>
    </div>
</div>