<div id="element-action-{{vm.index}}" class="form action"
     ng-class="{ 'test-item-error': vm.action.error === true }" >
    <a href="javascript:void(0);" ng-click="vm.remove()" style="float:right;">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
    <div class="form-inline" style="text-align:center;">
        <div class="actionType dropdown form-group">
            <label for="select_action_type" class="control-label">Select a type</label>
            <select id="select_action_type" class="form-control" ng-model="vm.selectedType" ng-options="value.label for (key, value) in vm.types">
            </select>
        </div>
    </div>

    <div class="selected">
        <action-click action="vm.action" ng-if="vm.selectedType === vm.types.CLICK"></action-click>
        <action-set-value action="vm.action" ng-if="vm.selectedType === vm.types.SET_VALUE"></action-set-value>
    </div>
</div>
