<div class="assert-element assert-value">
    <div class="assertType form-group">
        <label for="input_assert_value_selector" class="control-label">Selector</label>
        <input id="input_assert_value_selector" placeholder="div#blackOne"  class="form-control"
               type="text" ng-model="vm.assert.selector" />
    </div>
    <div class="assertType form-group">
        <label for="input_assert_value" class="control-label">Value</label>
        <input id="input_assert_value" placeholder='user@globe.com'  class="form-control"
               type="text" ng-model="vm.assert.value" />
    </div>
</div>
