<div class="assert-element assert-has-class">
    <div class="form-group">
        <label for="input_hasclass_selector" class="control-label">Selector</label>
        <input id="input_hasclass_selector" placeholder="#div_red1" class="form-control"
               type="text" ng-model="vm.assert.selector" />
    </div>
    <div class="form-group">
        <label for="input_has_class" class="control-label">Class Name</label>
        <input id="input_has_class" placeholder='margintop10px'  class="form-control"
               type="text" ng-model="vm.assert.value" />
    </div>
</div>
