<div id="element-assert-{{vm.index}}" class="form assert"
     ng-class="{ 'test-item-error': vm.assert.error === true }" >
    <a href="javascript:void(0);" ng-click="vm.remove()" class="remove-item">
      <i class="fa fa-times"></i>
    </a>
    <div class="form-inline" style="text-align:center">
        <div class="assertType dropdown form-group">
            <label for="select_action_type" class="control-label">Select a type</label>
            <select ng-model="vm.selectedType" class="form-control"
                    ng-options="value.label for (key, value) in vm.types">
            </select>
        </div>
    </div>

    <div class="selected">
        <assert-has-class assert="vm.assert"  ng-if="vm.selectedType === vm.types.HAS_CLASS"></assert-has-class>
        <assert-value assert="vm.assert"  ng-if="vm.selectedType === vm.types.ASSERT_VALUE"></assert-value>
        <assert-check-url assert="vm.assert"  ng-if="vm.selectedType === vm.types.CHECK_URL"></assert-check-url>
        <assert-is-element-visible assert="vm.assert"  ng-if="vm.selectedType === vm.types.IS_ELEMENT_VISIBLE"></assert-is-element-visible>
        <assert-is-element-exists assert="vm.assert"  ng-if="vm.selectedType === vm.types.IS_ELEMENT_EXISTS"></assert-is-element-exists>
    </div>
</div>
